.colorjc{
    color: white;;
}

.face:hover{
    color:#3b5998;
}
.twi:hover{
    color: #00acee;
}
.wha:hover{
    color:#00bb2d
}
.youtu:hover{
    color: #E62117
}
#pantallaCarga{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pantalla-carga {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}
html{
    transition: 0.3s;
}

#prisistemas{
    background-image: url('https://scontent.flim5-2.fna.fbcdn.net/v/t1.0-9/78719423_1438086926348089_4598172711284375552_o.jpg?_nc_cat=103&_nc_ohc=bg9N0mub9JwAQmtb8B-qo0wqkyQr55CXR7bjVonJedJOqVzr9VGpe3Tog&_nc_ht=scontent.flim5-2.fna&oh=048b26b031c4bc5883501ba9da295c8b&oe=5E9D843A');
}

.forma{}